.titulo{
    font-size: 16px;
    font-weight: bold;
    padding-right: 30px;
}

.descritivo{
    padding-right: 15px;
    padding-right: 50px;
}

td{
    text-align: left;
}

.cabecalho{
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
}