@charset "UTF-8";

.header{
    height: 300px;
    background-color: hsl(120, 0%,   75%);
}

.filtros{
    height: 1090px;
    background-color: hsl(120, 0%,   75%);
}

produtolista{
    height: 100%;
}

.produto{
    height: 480px;
}

.produto .imagem{
    width: 100%;

    position: relative;
}

.produto .titulo{
    height: 80px;
    font-size: 20px;
    text-align: center;
    
    padding-right: 0px;
}

.rodapeproduto{
    height: 50px;
}

.descricao{
    height: 120px;
}

.rodapeproduto .preco{
    font-weight: bold;
    font-size: 22px;
    color: RGB(46, 204, 113);
    
    /*line-height: 42px;*/
}

/*
.rodapeproduto .add {
    background-image: "http://icons.iconarchive.com/icons/graphicloads/100-flat/256/cart-add-icon.png";
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0px;

    border: none;
    cursor: pointer;
    vertical-align: middle;
}
*/

.rodapeproduto .add .pic{
    width: 35px;
}