<!DOCTYPE html>
<html layout:decorate="~{geral/modelo}">
    <head>
        <title>Automata Store - Confirmacao de compra</title>
    </head>
    <body>
        <div layout:fragment='conteudo'>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <h1 th:text="Número do pedido: ${venda.id}">Numero pedido</h1>
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dados da compra</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="Dt. Venda: ${venda.dt_venda}">Dt. Venda</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Prazo ini.:${venda.nr_prazoini}">Prazo ini.</td>
                                            <td th:text="Prazo fim: ${venda.nr_prazofim}">Prazo fim</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dados de entrega</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="Endereco: ${venda.ds_endereco}">Endereco</td>
                                            <td th:text="Numero: ${venda.ds_numero}">Numero</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Bairro: ${venda.ds_bairro}">Bairro</td>
                                            <td th:text="Complemento: ${venda.ds_complemento}">Complemento</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Cidade: ${venda.ds_cidade}">Cidade</td>
                                            <td th:text="UF: ${venda.ds_uf}">UF</td>
                                        </tr>
                                        <tr>
                                            <td th:text="CEP ${venda.ds_cep}">CEP</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Transportadora: ${venda.ds_transportadora}">Transportadora</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dados de pagamento</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="Forma pagamento: ${venda.ds_formapag}">Forma de pagamento</td>
                                            <td th:text="Nr. Parcelas: ${venda.nr_parcelas}">Numero de parcelas</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Vl. Produtos: ${venda.vl_produtos}">Valor dos produtos</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Vl. Frete: ${venda.vl_frete}">Valor do frete</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Vl. Total: ${venda.vl_total}">Valor total</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
