<!DOCTYPE html>
<html layout:decorate="~{geral/modelo}">
    <head>
        <title>Automata Store</title>
    </head>
    <body>
        <div layout:fragment='conteudo'>
            <div>
                <div class="container">
                    <div class="row header">
                    </div>
                    <div class="row produtoslista">
                        <div class="col-12">
                            <div class="col-md-3 col-lg-3 filtros">
                            </div>
                            <div class="col-md-9 col-lg-9 well produtolista">
                                <div class="col-md-12 col-lg-3 well produto" th:each="p : ${itens}">
                                    <a th:href="@{/produto/{id}(id=${p.id})}">
                                        <img class="imagem img-responsive img-thumbnail" th:src="${p.imagem}" th:href="@{/produto/${p.id}}">
                                    </a>
                                    
                                    <a th:href="@{/produto/{id}(id=${p.id})}">
                                        <h1 class="titulo" th:text="${p.nome}" th:href="@{/produto/${p.id}}">Produto</h1>
                                    </a>
                                    
                                    <div class="descricao">
                                        <a th:href="@{/produto/{id}(id=${p.id})}">
                                            <span th:text="${p.descricaoResumida}" th:href="@{/produto/${p.id}}">Descricao</span>
                                        </a>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12 rodapeproduto">
                                            <div class="col-md-12 col-lg-12">
                                                <a th:href="@{/produto/{id}(id=${p.id})}">
                                                    <span class="preco" th:text="${#numbers.formatCurrency(p.preco)}" th:href="@{/produto/${p.id}}">R$ 60,00</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>