<!DOCTYPE html>
<html layout:decorate="~{geral/modelo}">
    <head>
        <title>TADS Store</title>
    </head>
    <body>
        <div layout:fragment='conteudo'>
            <div>
                <div class="container-fluid">
                    <div class="jumbotron">
                        <div style="background-image: url('./img/bolo2.jpg'); background-size: cover; background-repeat: no-repeat; height: 400px; ">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-3 well produto" th:each="p : ${itens}">
                            <img class="imagem img-responsive img-thumbnail" th:src="${p.imagem}">
                            <h1 class="titulo" th:text="${p.nome}">Produto</h1>
                            <label class="descricao" th:text="${p.descricaoResumida}">Descricao</label>
                            
                            <div class="col-12 rodapeproduto">
                                <div class="col-md-8 col-lg-8">
                                    <span class="preco" th:text="${#numbers.formatCurrency(p.preco)}">R$ 60,00</span>
                                </div>
                                
                                <div class="col-md-4 col-lg-4">
                                    <form action="#" th:action="@{/compra/adicionar/{id} (id=${p.id})}" method="post">
                                        <input type="hidden" name="id" th:value="${p.id}"/>
                                        <button type="submit" class="add">
                                            <img class="pic" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/cart-add-icon.png">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>