<!DOCTYPE html>
<html layout:decorate="~{geral/modelo}">
    <head>
        <title>Automata Store</title>
    </head>
    <body>
        <div layout:fragment='conteudo'>
            <div>
                <div class="container">
                    <div class="row header">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="col-md-3 col-lg-3 filtros">
                            </div>
                            <div class="col-md-9 col-lg-9 well produto">
                                <div class="col-md-12 col-lg-3 well produto" th:each="p : ${itens}">
                                    <a th:href="@{/produto/{id}(id=${p.id})}">
                                        <img class="imagem img-responsive img-thumbnail" th:src="${p.imagem}" th:href="@{/produto/${p.id}}">
                                    </a>
                                    
                                    <a th:href="@{/produto/{id}(id=${p.id})}">
                                        <h1 class="titulo" th:text="${p.nome}" th:href="@{/produto/${p.id}}">Produto</h1>
                                    </a>
                                    
                                    <div class="descricao">
                                        <a th:href="@{/produto/{id}(id=${p.id})}">
                                            <span th:text="${p.descricaoResumida}" th:href="@{/produto/${p.id}}">Descricao</span>
                                        </a>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12 rodapeproduto">
                                            <div class="col-md-8 col-lg-8">
                                                <a th:href="@{/produto/{id}(id=${p.id})}">
                                                    <span class="preco" th:text="${#numbers.formatCurrency(p.preco)}" th:href="@{/produto/${p.id}}">R$ 60,00</span>
                                                </a>
                                            </div>

                                            <div class="col-md-4 col-lg-4">
                                                <form action="#" th:action="@{/compra/adicionar/{id} (id=${p.id})}" method="post">
                                                    <input type="hidden" name="id" th:value="${p.id}"/>
                                                    <button type="submit" class="add">
                                                        <img class="pic" src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/cart-add-icon.png">
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>