<!DOCTYPE html>
<html layout:decorate="~{geral/modelo}">
    <head>
        <title>Automata Store - Confirmacao de compra</title>
    </head>
    <body>
        <div layout:fragment='conteudo'>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <h1 th:text="${venda.id}">Numero pedido</h1>
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dados da compra</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="Dt Venda ${venda.dtVenda}">Dt. Venda</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Prazo ini ${venda.prazoini}">Prazo ini.</td>
                                            <td th:text="Prazo fim ${venda.prazofim}">Prazo fim</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dados de entrega</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="Endereco ${venda.endereco}">Endereco</td>
                                            <td th:text="Numero ${venda.numero}">Numero</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Bairro ${venda.bairro}">Bairro</td>
                                            <td th:text="Complemento ${venda.complemento}">Complemento</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Cidade ${venda.cidade}">Cidade</td>
                                            <td th:text="UF ${venda.uf}">UF</td>
                                        </tr>
                                        <tr>
                                            <td th:text="CEP ${venda.cep}">CEP</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Transportadora ${venda.transportadora}">Transportadora</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Dados de pagamento</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td th:text="Forma pagamento ${venda.formapag}">Forma de pagamento</td>
                                            <td th:text="Nr Parcelas ${venda.parcelas}">Numero de parcelas</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Vl Produtos ${venda.vlProdutos}">Valor dos produtos</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Vl Frete ${venda.vlFrete}">Valor do frete</td>
                                        </tr>
                                        <tr>
                                            <td th:text="Vl Total ${venda.vlTotal}">Valor total</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
